# # Ambiente
# .env
# .env.local
# .env.*.local

# Logs
logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
backend/.venv/

# Node
node_modules/
frontend/app/node_modules/
.npm
.eslintcache

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Database
*.sqlite
*.db
