annotated-types
anyio
bcrypt
blinker
certifi
cffi
click
cryptography
dotenv
fastapi
Flask
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
pycparser
pydantic
pydantic_core
PyJWT
python-dotenv
PyYAML
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
Werkzeug
